@if(isLoading){
<div class="h-screen justify-center">
  <app-loader theme="dark"></app-loader>
  <h1>Cargando</h1>
</div>
}

<div class="w-full md:w-5/12 mx-auto animate__animated animate__fadeIn" #content>

  @if(!isLoading && !hasError){

  <div id="pdfContent">
    <div class="card rounded-b-none border-x-0 border-t-0  border-gray-200 relative">
      <div class="flex absolute top-0 right-0 justify-center items-cente py-2 px-4 rounded-tr-lg rounded-bl-lg"
        [ngClass]="{'bg-green-500': receipt.tr_estado === 'Aprobado', 'bg-red-500': receipt.tr_estado === 'Anulado', 'bg-red-600': receipt.tr_estado === 'Rechazado', 'bg-blue-500': receipt.tr_estado === 'En espera'}">

        @switch (receipt.tr_estado) {
        @case ('En espera') {
        <i class="fa-regular fa-circle-check text-lg text-ghost-100 me-2 print-blue"></i>
        <h1 class="text-ghost-100 card-title text-sm text-center mt-1 print-blue">¡Pago
          {{receipt.tr_estado.toLowerCase()}}!
        </h1>
        }

        @case ('Rechazado') {
        <i class="fa-regular fa-circle-check text-lg text-ghost-100 me-2 print-red"></i>
        <h1 class="text-ghost-100 card-title text-sm text-center mt-1 print-red">¡Pago
          {{receipt.tr_estado.toLowerCase()}}!
        </h1>
        }

        @case ('Aprobado') {
        <i class="fa-regular fa-circle-check text-lg text-ghost-100 me-2 print-green"></i>
        <h1 class="text-ghost-100 card-title text-sm text-center mt-1 print-green">¡Pago
          {{receipt.tr_estado.toLowerCase()}}!
        </h1>
        }

        @case ('Anulado') {
        <i class="fa-regular fa-circle-check text-lg text-ghost-100 me-2 print-red"></i>
        <h1 class="text-ghost-100 card-title text-sm text-center mt-1 print-red">¡Pago
          {{receipt.tr_estado.toLowerCase()}}!
        </h1>
        }
        }

      </div>

      <div class="border-b border-dashed border-gray-300">
        <img src="assets/img/logo-gc.png" class="w-64 mx-auto mb-6" alt="">

      </div>


      <h1 class="card-title text-center my-8">Detalles de la transacción</h1>


      <div class="py-3 flex items-between items-center">
        <p for="bordered-checkbox-1" class="ms-2 font-bold text-slate-900 font-number">ID de la transacción</p>

        <p class="font-semibold text-slate-900 font-number text-right grow">{{receipt.tr_wompi || 'No disponible'}}</p>
      </div>


      <div class="py-3 flex items-between items-center mb-4">
        <p for="bordered-checkbox-1" class="ms-2 font-bold text-slate-900 font-number">Fecha</p>

        <p class="font-semibold text-slate-900 font-number text-right grow">{{receipt.tr_fecha}}</p>
      </div>


      @switch (receipt.tr_estado) {
      @case ('En espera') {
      <ng-container [ngTemplateOutlet]="rechazado"></ng-container>
      }

      @case ('Aprobado') {
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-ghost-50 dark:bg-gray-700 dark:text-gray-400">

          <tr>
            <th scope="col" class="px-2 py-3">N. de factura</th>
            <th scope="col" class="px-2 py-3">Tipo de
              factura</th>
            <th scope=" col" class="px-2 py-3">Monto</th>
          </tr>
        </thead>
        <tbody>
          @for(receipt of receipt.facturas; track $index){
          <tr class="bg-white border-b border-gray-100">

            <td class="px-2 py-4 font-number">
              <label>{{receipt.fac_numero}}</label>
            </td>

            <td class="px-2 py-4 font-number">
              <label>{{receipt.tipo}} </label>
            </td>


            <td class="px-2 py-4 font-number">
              <span class="font-semibold text-gray-500 font-number" [innerHTML]="receipt.monto | formatNumber"></span>
            </td>

          </tr>
          }




        </tbody>
      </table>

      <div class="py-3 flex items-between items-center">
        <p for="bordered-checkbox-1" class="font-bold text-slate-900 font-number">Total Pagado</p>


        <span class="font-bold text-slate-900 font-number text-right grow text-2xl"
          [innerHTML]="receipt.tr_valor | formatNumber"></span>
      </div>
      }

      @case ('Rechazado') {
      <ng-container [ngTemplateOutlet]="rechazado"></ng-container>
      }

      @case ('Anulado') {
      <ng-container [ngTemplateOutlet]="error"></ng-container>
      }

      @case ('Error') {
      <ng-container [ngTemplateOutlet]="error"></ng-container>
      }
      @default{
      <ng-container [ngTemplateOutlet]="error"></ng-container>
      }
      }



    </div>
  </div>

  <div class="card border-0 rounded-none h-22 relative">

    <img src="assets/img/circles.png" class="w-circles absolute bottom-0 z-1 left-0" alt="">

  </div>


  <div class="flex justify-center mt-10">


    <a class="button w-1/2 text-center cursor-pointer py-3" (click)="downloadSupport()">Descargar
      comprobante</a>

    <a class="button w-1/2 text-center py-3 cursor-pointer" (click)="printReceipt()">Imprimir</a>


  </div>
  <a class="text font-semibold text-center py-3 block mt-4 hover:text-slate-900"
    [routerLink]="['/historial-pagos']">Volver</a>
  }
  @if(hasError && !isLoading){
  <div class="card text-center">

    <img src="assets/looties/advertencia.gif" class="mb-4 mx-auto w-20 h-20" alt="">

    <h1 class="text mb-6">Error al cargar el comprobante, por favor, intentalo nuevamente</h1>
    <a class="button w-1/2 text-center b" [routerLink]="['/historial-pagos']">Volver</a>


  </div>
  }

</div>


<ng-template #espera>
  <div class="px-4 py-6 bg-red-500/10 border border-blue-500 rounded-lg text-center">
    <h1><i class="fa-regular fa-clock text-blue-500 text-4xl mb-4"></i></h1>
    <p class="text font-semibold text-blue-500">Tu transacción se está procesando, por favor verifica el estado luego.
    </p>
  </div>
</ng-template>


<ng-template #rechazado>
  <div class="px-4 py-6 bg-red-500/10 border border-red-500 rounded-lg text-center">
    <h1><i class="fa-solid fa-triangle-exclamation text-red-500 text-4xl mb-4"></i></h1>
    <p class="text font-semibold text-red-500">Tu transacción ha sido declinada, por favor intentalo nuevamente.</p>
  </div>
</ng-template>

<ng-template #error>
  <div class="px-4 py-6 bg-red-500/10 border border-red-500 rounded-lg text-center">
    <h1><i class="fa-solid fa-triangle-exclamation text-red-500 text-4xl mb-4"></i></h1>
    <p class="text font-semibold text-red-500">Ha ocurrido un error con la transacción, por favor intentalo nuevamente.
    </p>
  </div>
</ng-template>