<div class="card mt-3">
  <h1 class="card-title mb-4">Confirmación de pago</h1>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-2 md:gap-8">
    <div class="col-span-2">
      <h1 class="card-subtitle mb-3">Facturas seleccionadas</h1>


      <div class="relative overflow-x-auto shadow-md sm:rounded-lg overflow-y-auto">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-ghost-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              <th scope="col" class="px-2 py-3">Número de factura</th>
              <th scope="col" class="px-2 py-3">Tipo de
                factura</th>
              <th scope=" col" class="px-2 py-3">Monto</th>
            </tr>
          </thead>
          <tbody>
            @for (factura of billsSelected; track $index) {
            <tr class="bg-white border-b hover:bg-gray-50">

              <td class="px-2 py-4 font-number">
                <label>{{ factura.nro_factura }}</label>
              </td>

              <td class="px-2 py-4 font-number">
                <label>{{ factura.concepto_facturacion }}</label>
              </td>


              <td class="px-2 py-4 font-number">
                <span class="font-semibold text-gray-500 font-number"
                  [innerHTML]="factura.valor_factura | formatNumber"></span>
              </td>
            </tr>
            }
          </tbody>
        </table>

      </div>


    </div>
    <div class="col-span-1 mt-8 md:mt-2">
      <h1 class="card-subtitle mb-3">Descuentos por nota crédito</h1>

      @if (!isLoading) {
      @if (gcPayService.discountsSelected.length === 0) {
      <div class="text-center flex items-center mb-4">
        <i class="fa-solid fa-tag me-3 text-xl text-ghost-200"></i>
        <span class="text text-sm font-semibold">
          No seleccionaste ninguna nota crédito.
        </span>
      </div>
      } @else {
      <ul class="mb-5">
        @for (discount of gcPayService.discountsSelected; track $index) {
        <li class="px-3 border-b border-gray-200 py-3  flex items-between items-center">

          <h1 class="w-full ms-2 text-xs font-semibold text-slate-900 font-number">{{ discount.nro_factura }}</h1>

          <h1 class="font-semibold text-gray-500 font-number" [innerHTML]="discount.valor_factura | formatNumber">
          </h1>
        </li>
        }
      </ul>

      }
      } @else {
      <app-loader theme="light"></app-loader>
      }


      <h1 class="card-subtitle mb-2 mt-8 md:mt-2">Detalle del pago</h1>


      <div class="bg-ghost-50 p-4 rounded-lg border-gray-200">
        <div class="flex justify-between">
          <h1 class="card-title text-ghost-200 text-xs">Sub Total</h1>
          <span class="font-number font-bold" [innerHTML]="gcPayService.totalValues.subTotal | formatNumber"></span>
        </div>

        <div class="flex justify-between">
          <h1 class="card-title text-slate-200 text-right text-xs mb-2">
            <i class="fa-solid fa-plus text-ghost-100 bg-slate-700 p-1 rounded-full me-2"></i>
            Impuestos
          </h1>
          <span class="font-number font-bold text-slate-900" data-popover-target="popover-default"><i
              class="fa-solid fa-circle-info me-2"></i><span [innerHTML]="
                               gcPayService.totalValues.iva +
                                  gcPayService.totalValues.reteIva +
                                  gcPayService.totalValues.reteIca +
                                  gcPayService.totalValues.reteFuente | formatNumber
                            ">
            </span>
          </span>
        </div>


        <div data-popover id="popover-default" role="tooltip"
          class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-slate-800 border border-slate-600 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800">
          <div class="px-3 py-2 bg-slate-700 border-b border-slate-600 rounded-t-lg">
            <h3 class="font-semibold text-slate-900">Impuestos</h3>
          </div>
          <div class="px-3 py-4">
            @if (gcPayService.totalValues.subTotal > 0) {
            @if (gcPayService.totalValues.iva) {
            <h6 class="font-semibold text-xs text-slate-900">
              IVA:
              <span [innerHTML]="gcPayService.totalValues.iva | formatNumber"></span>
            </h6>
            }

            @if (gcPayService.totalValues.reteIva) {
            <h6 class="font-semibold text-xs text-slate-900">
              ReteIVA:
              <span [innerHTML]="gcPayService.totalValues.reteIva | formatNumber"></span>
            </h6>
            }

            @if (gcPayService.totalValues.reteIca) {
            <h6 class="font-semibold text-xs  text-slate-900">
              ReteIVA:
              <span [innerHTML]="gcPayService.totalValues.reteIca | formatNumber"></span>
            </h6>
            }

            @if (gcPayService.totalValues.reteFuente) {
            <h6 class="font-semibold text-xs  text-slate-900">
              ReteIVA:
              <span [innerHTML]="gcPayService.totalValues.reteFuente | formatNumber"></span>
            </h6>
            }
            } @else {
            <small class="text text-xs text-semibold text-ghost-200">Por favor, selecciona las facturas a pagar para
              ver
              la
              inforamción de los impuestos relacionados</small>
            }
          </div>
          <div data-popper-arrow></div>
        </div>

        <div class="flex justify-between">
          <h1 class="card-title text-slate-200 text-right text-xs mb-2">
            <i class="fa-solid fa-minus text-xs text-ghost-100 bg-slate-700 p-1 rounded-full me-2"></i>
            Deducciones nota crédito
          </h1>
          <span class="font-number font-bold text-slate-900"
            [innerHTML]="gcPayService.totalValues.deduccionesNotaCredito | formatNumber">
          </span>
        </div>

        <div class="flex justify-between border-t border-gray-300 mt-4 pt-3">
          <h1 class="card-title text-slate-200 text-right text-xs mb-2">
            Total a pagar
          </h1>
          <span class="font-number font-extrabold text-slate-900"
            [innerHTML]="gcPayService.totalValues.total | formatNumber">
          </span>
        </div>




      </div>
      <img class="w-60 mx-auto mt-4" src="assets/img/pagos-seguros.png" alt="">
      <button (click)="payBills()" class="button w-full mt-3 py-4">Ir a pagar</button>
      <button (click)="clearPayment()"
        class="w-full text-xs text-gray-500 hover:text-slate-900 transitions font-semibold text-center py-4">Volver</button>
    </div>
  </div>
</div>