<div class="h-screen flex flex-col items-center justify-center  animate__animated animate__fadeIn">
  <div class="card">


    <h1 class="card-title">Navegador no compatible</h1>

    <p class="text">Te recomendamos usar GCPay con uno de los siguientes navegadores</p>


    <div class="flex gap-4 mt-6">

      <a target="_blank"
        href="https://www.google.com/intl/es-419/chrome/dr/download/?brand=OZZY&ds_kid=43700080776922852&gad_source=1&gclid=EAIaIQobChMIgOPKnY7XiQMV55taBR3V2DifEAAYASAAEgJcWPD_BwE&gclsrc=aw.ds">
        <img class="w-12" src="assets/img/chrome.png" alt="">
      </a>

      <a target="_blank"
        href="https://www.opera.com/?utm_campaign=%2300%20-%20WW%20-%20Search%20-%20EN%20-%20Branded&utm_content=37670026502&gad_source=1&gclid=Cj0KCQiAlsy5BhDeARIsABRc6ZsXz83TnvyQhBFk_CkuF7FzImw0wEs5MmVVavnAl6p8qpDW3OrTqt8aApEiEALw_wcB">

        <img class="w-12" src="assets/img/opera.png" alt="">
      </a>

      <a target="_blank"
        href="https://www.google.com/intl/es-419/chrome/dr/download/?brand=OZZY&ds_kid=43700080776922852&gad_source=1&gclid=EAIaIQobChMIgOPKnY7XiQMV55taBR3V2DifEAAYASAAEgJcWPD_BwE&gclsrc=aw.ds">
        <img class="w-12" src="assets/img/edge.png" alt="">
      </a>
    </div>


  </div>


</div>