<div class="h-screen flex flex-col items-center justify-center  animate__animated animate__fadeIn">
  <img src="assets/img/404gcprojects.png" alt="404">
  <p class="card-subtitle text-center w-8/12 mt-8">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi
    consequuntur
    ipsum ullam
    officiis nisi numquam illo porro reiciendis debitis? Consequatur ipsam non corrupti est, impedit quibusdam? Labore
    nemo consequatur sit!</p>
  <button class="button mt-8" (click)="back()">Volver</button>
</div>
