<div id="state-modal" data-modal-backdrop="static" tabindex="-1" aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative px-5 w-full max-w-2xl max-h-full">
    <div class="relative p-8 bg-white rounded-lg shadow dark:bg-gray-700">
      <img [src]="configs[state].src" class="mb-4 mx-auto w-20 h-20" alt="">
      <h1 class="card-title text-2xl text-center mb-3">
        {{ configs[state].title }}
      </h1>
      <p class="text text-center">
        {{ configs[state].description }}
      </p>
      @if(state === '5' || state === '6'){
      <div class="flex justify-center animate__animated animate__fadeIn mt-8">
        <button (click)="tryAgain()" class="button">Verificar pago nuevamente.</button>
        <button class="button" (click)="moveToHistory()">Verificar estado en el historial de
          pagos.</button>
      </div>
      }
    </div>
  </div>
</div>