<div
   id="default-modal"
   tabindex="-1"
   aria-hidden="true"
   class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
   <div class="relative px-5 w-full max-w-2xl max-h-full">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
         <!-- Modal header -->
         <div
            class="flex items-center justify-between p-3 md:p-3 border-b rounded-t dark:border-gray-600"
         >
            <h3 class="card-title">Impuestos</h3>
            <button
               type="button"
               class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
               data-modal-hide="default-modal"
            >
               <svg
                  class="w-3 h-3"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 14 14"
               >
                  <path
                     stroke="currentColor"
                     stroke-linecap="round"
                     stroke-linejoin="round"
                     stroke-width="2"
                     d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                  />
               </svg>
               <span class="sr-only">Cerrar modal</span>
            </button>
         </div>
         <!-- Modal body -->
         <div class="p-3 md:p-3 space-y-4">
            @if (bill) {
               <ul class="mb-2">
                  @if (+bill.iva) {
                     <li
                        class="px-3 border-b py-3 flex justify-between items-center"
                     >
                        <h1 class="font-semibold text-slate-800 text-sm">
                           Iva
                        </h1>
                        <h1
                           class="font-semibold text-slate-800 text-sm font-number"
                           [innerHTML]="bill.iva | formatNumber"
                        ></h1>
                     </li>
                  }
                  @if (+bill.rete_iva) {
                     <li
                        class="px-3 border-b py-3 flex justify-between items-center"
                     >
                        <h1 class="font-semibold text-slate-800 text-sm">
                           Reteiva
                        </h1>
                        <h1
                           class="font-semibold text-slate-800 text-sm font-number"
                           [innerHTML]="bill.rete_iva | formatNumber"
                        ></h1>
                     </li>
                  }
                  @if (+bill.rete_fuente) {
                     <li class="px-3 py-3 flex justify-between items-center">
                        <h1 class="font-semibold text-slate-800 text-sm">
                           Retefuente
                        </h1>
                        <h1
                           class="font-semibold text-slate-800 text-sm font-number"
                           [innerHTML]="bill.rete_fuente | formatNumber"
                        ></h1>
                     </li>
                  }
                  @if (+bill.rete_ica) {
                     <li class="px-3 py-3 flex justify-between items-center">
                        <h1 class="font-semibold text-slate-800 text-sm">
                           Reteica
                        </h1>
                        <h1
                           class="font-semibold text-slate-800 text-sm font-number"
                           [innerHTML]="bill.rete_ica | formatNumber"
                        ></h1>
                     </li>
                  }
               </ul>
            }
         </div>
         <!-- Modal footer -->
         <div class="p-3 md:p-3 border-t border-gray-200 rounded-b">
            <button
               data-modal-hide="default-modal"
               type="button"
               class="button"
            >
               Cerrar
            </button>
         </div>
      </div>
   </div>
</div>
